.slideshow-box {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  background: #0D0D0D;

  position: relative;
  overflow: hidden;
  white-space: nowrap;
  .slideshow {
    display: flex;
    width: 100%;
    gap: var(--s64);
    animation: marquee linear infinite;
    animation-duration: 10s;
    width: max-content;
    img {
      flex-shrink: 0;
      width: calc(188 * 100vw / 1440);
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .slideshow-box {
    height: calc(260 * 100vw / 390);
    .slideshow {
      gap: var(--s24);
      animation-duration: 30s;
      img {
        width: calc(190 * 100vw / 390);
      }
    }
  }
}