.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  height: 100%;
  gap: var(--s40);
}

.sharky-nfts-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--s12);
  .mint-nft-btn {
    width: 30%;
    background-color: var(--yellow);
    box-shadow:
      0px 8px 40.3px 0px #ffc55052,
      0px 2px 4px 0px #00000054,
      0px 8px 8.3px 0px #ffe1a3 inset;
    border-radius: var(--s32);
    border: none;
    padding: var(--s12) var(--s24);
    font-family: Montserrat;
    font-weight: 700;
    color: var(--blue);
  }
}

.grid {
  display: grid;
  padding-left: var(--s24);
  padding-right: var(--s24);
  width: 100%;
  grid-template-columns: 45% 45%;
  gap: var(--s12);
  justify-content: center;
  place-items: center center;
}
