.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  height: 100%;
  gap: var(--s80);
}

.grid {
  display: grid;
  padding-left: var(--s24);
  padding-right: var(--s24);
  width: 100%;
  grid-template-columns: 45% 45%;
  gap: var(--s12);
  justify-content: center;
  place-items: center center;
}

@media (max-width: 768px) {
  .page {
    padding: var(--s16);
  }
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 90%;
    }
  }
  .reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    img {
      width: 90%;
    }
  }
}
