.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--s50);
  h3 {
    color: var(--white);
    font-size: var(--s32);
    font-weight: 700;
    line-height: var(--s40);
    text-align: center;
    width: 100%;
  }
  .grid {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: var(--s16);
    justify-content: center;
    width: 100%;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: var(--s32);
      section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: var(--s12);
        h4 {
          color: var(--white);
          font-size: var(--s24);
          font-weight: 700;
          line-height: var(--s24);
          text-align: center;
          width: 100%;
        }
        p {
          color: var(--grey);
          font-size: var(--s14);
          font-weight: 400;
          line-height: var(--s24);
          text-align: center;
          width: 80%;
        }
      }
    }
  }
  button {
    width: 30%;
    background-color: var(--yellow);
    box-shadow:
      0px 8px 40.3px 0px #ffc55052,
      0px 2px 4px 0px #00000054,
      0px 8px 8.3px 0px #ffe1a3 inset;
    border-radius: var(--s32);
    border: none;
    padding: var(--s12) var(--s24);
    font-family: Montserrat;
    font-weight: 700;
    color: var(--blue);
  }
}
